# Flutter generated
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/app/src/main/java/io/flutter/plugins/
android/build/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar

# iOS generated
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/

# Force-include iOS project (overrides root *.xcodeproj ignore)
!ios/Runner.xcodeproj/
!ios/Runner.xcodeproj/project.pbxproj
!ios/Runner.xcodeproj/xcshareddata/

# Misc
*.iml
.idea/
.metadata
