# IDEA
.aswb
.idea
.ijwb

# Bazel
/bazel-*
**/Bazel Generated/

# Claude code
.claude/settings.local.json

.bazelrc.local

compile_commands.json
.DS_Store
/dist
!/dist/*.py
!/dist/BUILD
!/dist/file/BUILD
!/dist/WORKSPACE
*.egg-info/
/external
/tmp
/target
*.xcodeproj
rust-project.json
.cache
.kotlin

# Profiling
/buffers
/config.pb
/flame.svg
/perf.data
/perf.data.old
vendor
platform/jvm/capture/src/main/jniLibs/
