[workspace]
members = [
  "platform/jvm",
  "platform/shared",
  "platform/swift/source",
  "platform/test_helpers",
  "proto",
  "test/benchmark",
  "test/platform/jvm",
  "test/platform/swift/bridging",
  "test/platform/pom_checker",
]
resolver = "2"

[workspace.dependencies]
android_logger = { version = "0.14.1", default-features = false }
anyhow = "1.0.86"
assert_matches = "1.5.0"
async-trait = "0.1.82"
bd-api = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-buffer = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-client-common = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-client-stats-store = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-device = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-grpc = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-hyper-network = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-key-value = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-log = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-log-metadata = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-log-primitives = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-logger = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-noop-network = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-proto = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-runtime = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-session = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-shutdown = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
bd-test-helpers = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591", default-features = false }
bd-time = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "915d4a8ed9b8c08566b03beefd27f2da374c5591" }
chrono = "0.4.38"
clap = { version = "4.5.16", features = ["derive", "env"] }
ctor = "0.2.8"
env_logger = { version = "0.11.5", default-features = false }
jni = "0.21.1"
log = { version = "0.4.22", features = ["max_level_trace", "release_max_level_info"] }
objc = "0.2.7"
objc-foundation = "0.1.1"
parameterized = "2.0.0"
parking_lot = "0.12.3"
platform-shared = { path = "platform/shared" }
pretty_assertions = "1.4.0"
protobuf = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack", features = [
  "bytes",
  "with-bytes",
] }
protobuf-codegen = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack" }
protobuf-json-mapping = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack" }
rand = "0.8.5"
rand_distr = "0.4.3"
regex = "1.10.6"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.125"
tempdir = "0.3.7"
time = { version = "0.3.36", features = ["serde-well-known", "macros"] }
tokio = { version = "1.39.3", features = ["full", "test-util"] }
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
uuid = { version = "1.10.0", features = ["v4"] }
