[workspace]
members = [
  "platform/jvm",
  "platform/shared",
  "platform/swift/source",
  "platform/test_helpers",
  "proto",
  "test/benchmark",
  "test/platform/jvm",
  "test/platform/swift/bridging",
  "test/platform/pom_checker",
]
resolver = "2"

[workspace.dependencies]
android_logger = { version = "0.14.1", default-features = false }
anyhow = "1.0.95"
assert_matches = "1.5.0"
async-trait = "0.1.86"
bd-api = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-buffer = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-client-common = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-client-stats-store = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-crash-handler = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-device = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-grpc = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-hyper-network = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-key-value = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-log = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-log-metadata = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-log-primitives = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-logger = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-noop-network = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-proto = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-runtime = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-session = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-shutdown = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
bd-test-helpers = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98", default-features = false }
bd-time = { git = "https://github.com/bitdriftlabs/shared-core.git", rev = "5fda627b2e20071e1460cb421243e13bb84e9a98" }
chrono = "0.4.39"
clap = { version = "4.5.28", features = ["derive", "env"] }
ctor = "0.2.9"
env_logger = { version = "0.11.6", default-features = false }
jni = "0.21.1"
log = { version = "0.4.25", features = ["max_level_trace", "release_max_level_info"] }
objc = "0.2.7"
objc-foundation = "0.1.1"
parameterized = "2.0.0"
parking_lot = "0.12.3"
platform-shared = { path = "platform/shared" }
pretty_assertions = "1.4.1"
protobuf = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack", features = [
  "bytes",
  "with-bytes",
] }
protobuf-codegen = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack" }
protobuf-json-mapping = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack" }
rand = "0.8.5"
rand_distr = "0.4.3"
regex = "1.11.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.138"
tempdir = "0.3.7"
time = { version = "0.3.37", features = ["serde-well-known", "macros"] }
tokio = { version = "1.43.0", features = ["full", "test-util"] }
tracing = { version = "0.1.41", features = ["log"] }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
uuid = { version = "1.13.1", features = ["v4"] }
