[workspace]
members = [
  "platform/jvm",
  "platform/shared",
  "platform/swift/source",
  "platform/test_helpers",
  "proto",
  "test/benchmark",
  "test/platform/jvm",
  "test/platform/swift/bridging",
  "test/platform/pom_checker",
]
resolver = "2"

[workspace.dependencies]
ahash = "0.8.12"
android_logger = { version = "0.15.1", default-features = false }
anyhow = "1.0.100"
assert_matches = "1.5.0"
async-trait = "0.1.89"
bd-api.path = "../shared-core/bd-api"
bd-bonjson.path = "../shared-core/bd-bonjson"
bd-bonjson-ffi.path = "../shared-core/bd-bonjson-ffi"
bd-buffer.path = "../shared-core/bd-buffer"
bd-client-common.path = "../shared-core/bd-client-common"
bd-client-stats-store.path = "../shared-core/bd-client-stats-store"
bd-crash-handler.path = "../shared-core/bd-crash-handler"
bd-device.path = "../shared-core/bd-device"
bd-error-reporter.path = "../shared-core/bd-error-reporter"
bd-grpc.path = "../shared-core/bd-grpc"
bd-hyper-network.path = "../shared-core/bd-hyper-network"
bd-key-value.path = "../shared-core/bd-key-value"
bd-log.path = "../shared-core/bd-log"
bd-log-metadata.path = "../shared-core/bd-log-metadata"
bd-log-primitives.path = "../shared-core/bd-log-primitives"
bd-logger.path = "../shared-core/bd-logger"
bd-noop-network.path = "../shared-core/bd-noop-network"
bd-proto.path = "../shared-core/bd-proto"
bd-report-parsers.path = "../shared-core/bd-report-parsers"
bd-report-writer.path = "../shared-core/bd-report-writer"
bd-runtime.path = "../shared-core/bd-runtime"
bd-session.path = "../shared-core/bd-session"
bd-shutdown.path = "../shared-core/bd-shutdown"
bd-test-helpers.path = "../shared-core/bd-test-helpers"
bd-time.path = "../shared-core/bd-time"
clap = { version = "4.5.51", features = ["derive", "env"] }
ctor = "0.6.1"
env_logger = { version = "0.11.8", default-features = false }
flatbuffers = "25.9.23"
futures-util = "0.3.31"
jni = "0.21.1"
log = { version = "0.4.28", features = ["max_level_trace", "release_max_level_info"] }
memmap2 = "0.9.9"
objc = "0.2.7"
objc-foundation = "0.1.1"
parameterized = "2.0.0"
parking_lot = "0.12.5"
platform-shared = { path = "platform/shared" }
pretty_assertions = "1.4.1"
protobuf = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack", features = [
  "bytes",
  "with-bytes",
] }
protobuf-codegen = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack" }
protobuf-json-mapping = { git = "https://github.com/bitdriftlabs/rust-protobuf.git", branch = "patch-stack" }
rand = "0.9.2"
rand_distr = "0.5.1"
regex = "1.12.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.145"
tempfile = "3.23.0"
time = { version = "0.3.44", features = ["serde-well-known", "macros"] }
tokio = { version = "1.48.0", features = ["full", "test-util"] }
tracing = { version = "0.1.41", features = ["log"] }
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
uuid = { version = "1.18.1", features = ["v4"] }

[profile.dev]
panic = "abort"

[profile.release]
codegen-units = 1
lto           = "fat"
opt-level     = "s"
panic         = "abort"
