<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>NSPrivacyTrackingDomains</key>
	<array/>
	<key>NSPrivacyCollectedDataTypes</key>
	<array>
		<dict>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeProductInteraction</string>
			<key>NSPrivacyCollectedDataTypeLinked</key>
			<false/>
			<key>NSPrivacyCollectedDataTypeTracking</key>
			<false/>
			<key>NSPrivacyCollectedDataTypePurposes</key>
			<array>
				<string>NSPrivacyCollectedDataTypePurposeAnalytics</string>
				<string>NSPrivacyCollectedDataTypePurposeAppFunctionality</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
	  <!-- File timestamp APIs: stat / fstat / lstat / fstatat -->
	  <dict>
		<key>NSPrivacyAccessedAPIType</key>
		<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
		<key>NSPrivacyAccessedAPITypeReasons</key>
		<array>
			<!-- Access file metadata only within app/app group/CloudKit container -->
			<string>C617.1</string>
		</array>
	  </dict>

	  <!-- Disk space APIs: statvfs / fstatfs / fstatvfs -->
	  <dict>
		<key>NSPrivacyAccessedAPIType</key>
		<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
		<key>NSPrivacyAccessedAPITypeReasons</key>
		<array>
			<!-- Check available space to change behavior (write/cleanup) -->
			<string>E174.1</string>
		</array>
	  </dict>

	  <!-- User defaults APIs: NSUserDefaults -->
	  <dict>
		<key>NSPrivacyAccessedAPIType</key>
		<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
		<key>NSPrivacyAccessedAPITypeReasons</key>
		<array>
			<!-- App-private prefs/settings -->
			<string>CA92.1</string>
		</array>
	  </dict>
	</array>
</dict>
</plist>
