<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.bitdrift.capture.replay"
    >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="36"
        />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities"
            >

            <!-- Automatically run ContextHolder at app startup -->
            <meta-data
                android:name="io.bitdrift.capture.ContextHolder"
                android:value="androidx.startup"
                />
        </provider>
    </application>
</manifest>
