name: Release and Update SDK Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The new version to release, ex: 0.12.0'
        required: true
        type: string
      emergency:
        type: boolean
        description: Ignore main branch requirement (SOC2 compliance)
        required: true
  workflow_call:
    inputs:
      version:
        description: 'The new version to release, ex: 0.12.0'
        required: true
        type: string
      emergency:
        type: boolean
        description: Ignore main branch requirement (SOC2 compliance)'
        required: true
    secrets: 
      OPEN_CAPTURE_SDK_PRS_APP_ID:
        required: true
      OPEN_CAPTURE_SDK_PRS_PRIVATE_KEY:
        required: true
        
jobs:
  gh-release:
    permissions:
      contents: write
    uses: ./.github/workflows/release_gh.yaml
    with:
      version: ${{ inputs.version }}
    secrets: inherit
  release-ios:
    permissions:
      id-token: write # required to use OIDC authentication
      contents: read
    uses: ./.github/workflows/release_ios_public.yaml
    with:
      version: ${{ inputs.version }}
      emergency: ${{ inputs.emergency }}
    secrets: inherit
    needs: gh-release
  release-android:
    permissions:
      id-token: write # required to use OIDC authentication
      contents: read
    uses: ./.github/workflows/release_android_public.yaml
    with:
      version: ${{ inputs.version }}
      emergency: ${{ inputs.emergency }}
    secrets: inherit
    needs: gh-release
  capture-ios-release:
    uses: ./.github/workflows/release_capture_ios.yaml
    with:
      version: ${{ inputs.version }}
    needs: release-ios
    secrets: inherit
  capture-react-release:
    uses: ./.github/workflows/release_capture_react.yaml
    with:
      version: ${{ inputs.version }}
    needs: [release-ios, release-android]
    secrets: inherit
  bitdrift-docs-release:
    uses: ./.github/workflows/release_bitdrift_docs.yaml
    with:
      version: ${{ inputs.version }}
    needs: [release-ios, release-android]
    secrets: inherit
